@media(min-width:768px){
    .news-input{
        width:50%;
        margin-left:50px;
    }
}
body::before{
    display:block;
    content:'';
    height:60px;
}
#map{
    width:300px;
  
}
.map{
    height: 300px;
    border-radius: 10px;
}
/* .map-cont{
    margin-left:200px;
} */
